:root {
    --white-clr: #F5F5F5;
    --black-clr: #141414;
    --yellow-clr: #f0db4f;

    --ff-primary: "Open Sans", Arial, sans-serif;
}

body,
h1,
h2,
h3,
p {
margin: 0;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-primary);
    line-height: 1.6;
    color: var(--black-clr);
    background-color: var(--white-clr);
}

header {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

/* Navbar */
nav header {
    padding-top: 0.3rem;
}

#img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto 1rem auto;
}

#nav-logo {
    max-width: 150px;
    max-height: 150px;
    height: 100%;
    width: 100%;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 19rem;
    height: 100%;
    border-right: solid;
    border-color: var(--black-clr);
}

#navbar ul {
    padding: 0;
}

#navbar li {
    color: var(--black-clr);
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}
  
#navbar a {
    display: block;
    padding: 1.5rem 1rem;
    color: var(--black-clr);
    text-decoration: none;
    cursor: pointer;
}

/* Main doc */
#main-doc header {
    text-align: left;
}

#main-doc {
    margin-left: 20.5rem;
    padding: 2rem;
    position: absolute;
}

code {
    display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: var(--white-clr);
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}